<h1>New user</h1>

<% if @user.errors.any? %>
<ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @user do |uf| %>
    <p>
        <%= uf.label :name %><br/>
        <%= uf.text_field :name %>
    </p>
    <p>
        <%= uf.label :password %><br/>
        <%= uf.password_field :password %>
    </p>
    <p>
        <%= uf.submit %>
    </p>
<% end %>